<h1>Administrar Estados de Pedido</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_statuses.each do |order_status| %>
      <tr class="align-items-center<%= ' table-disabled' if order_status.is_disabled %>">
        <td><%= order_status.order_status_name %></td>
        <td><%= order_status.order_status_description %></td>
        <td class="fit">
          <div class='btn-group'>
            <%= link_to 'Mostrar', order_status_path(order_status), class: 'btn btn-outline-info' %>
            <% unless order_status.is_disabled %>
              <%= link_to 'Editar', edit_order_status_path(order_status), class: 'btn btn-outline-primary' %>
              <%= link_to 'Eliminar', order_status_path(order_status),
                          class: 'btn btn-outline-danger',
                          method: :delete,
                          data: { confirm: '¿Seguro que desea eliminar?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Agregar Estado de Pedido', new_order_status_path, class: 'btn btn-outline-primary btn-block' %>