<h1>Estados de Pedido</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', order_statuses_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @order_status.is_disabled %>
  <div class="col text-right">
    <%if can_action?('Administrar Estado del Pedido', 'Eliminar estado de pedido')%>
      <%= link_to 'Eliminar', order_status_path(@order_status),
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: '¿Seguro que desea eliminar?' } %>
    <%end%>
    <%if can_action?('Administrar Estado del Pedido', 'Editar estado de pedido')%>
      <%= link_to 'Editar', edit_order_status_path(@order_status), class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
  <% end %>
</div>