<h1>Iniciar sesión</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<table class="table table-hover" style="width: 50%;">
  <%= form_for(:session, url: login_path) do |f| %>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, class: 'form-control' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit "Log in", class: "btn btn-primary" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Olvide mi contraseña", forget_password_path, class: 'btn btn-secondary' %>
