<%= form_with model: @order_type, local: true do |form| %>

  <div class="form-group">
    <%= form.label :name_type_order %><br>
    <%= form.text_field :name_type_order, class: 'form-control' %>

    <%= form.label :description_type_order %><br>
    <%= form.text_area :description_type_order, class: 'form-control' %>

    <p class="text-right">
      <%= link_to "Cancelar", :back, class: 'btn btn-outline-secondary' %>
      <%= form.submit 'Guardar', class: 'btn btn-success' %>
    </p>
  </div>
<% end %>