<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<%= form_with model: @order_type, local: true do |form| %>

  <div class="form-group row">
    <%= form.label :name_type_order, 'Nombre:', class: 'col-sm col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :name_type_order, class: 'form-control-plaintext', readonly: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description_type_order, 'Descripción:', class: 'col col-form-label' %>
    <div class="col-10">
      <%= form.text_area :description_type_order, class: 'form-control-plaintext', readonly: true %>
    </div>
  </div>
<% end %>

<div class="row vertical-divider">
  <div class="col">
    <%= render 'model_type_attributes' %>
  </div>
  <div class="col">
    <%= render 'model_detail_attributes' %>
  </div>
</div>