<h3>Atributos del pedido</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
  <% if @order_type.order_type_attributes.empty? %>
    <tr>
      <td colspan="3"><i>No hay atributos creados</i></td>
    </tr>
  <%  else  %>
    <%  @order_type.order_type_attributes.each do |attribute|  %>
    <tr class="align-items-center<%=  ' table-disabled' if attribute.is_disabled  %>">
      <td><%=  attribute.attribute_name  %></td>
      <td><%=  attribute.attribute_type  %></td>
      <td class="fit">
        <div class="btn-group btn-group-sm">
          <%if can_action?('Parametrizar Tipo de Pedido', 'Editar atributos') %>
            <%if attribute.is_disabled %>
              <%=  link_to 'Habilitar', order_type_order_type_attribute_enable_attribute_path(attribute.order_type, attribute), class: 'btn btn-outline-primary'  %>
            <%else  %>
              <%=  link_to 'Editar', edit_order_type_order_type_attribute_path(attribute.order_type, attribute), class: 'btn btn-outline-primary'  %>
              <%= link_to 'Eliminar', [attribute.order_type, attribute],
                        class: 'btn btn-outline-danger',
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
            <%end %>
          <%end%>
        </div>
      </td>
    </tr>
    <%  end  %>
  <%  end %>
  </tbody>
</table>
<%if can_action?('Parametrizar Tipo de Pedido', 'Editar atributos') %>
  <h3>Agregar un atributo al tipo de pedido:</h3>
  <%= form_with(model: [ @order_type, @order_type.order_type_attributes.build ], local: true) do |form| %>

    <div class="form-group">
      <%= form.label :attribute_name, 'Nombre del Atributo:' %>
      <%= form.text_field :attribute_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :attribute_type, 'Tipo del Atributo:' %><br>
      <%= form.select :attribute_type, OrderTypesController::TYPES, {}, class: 'form-control'  %>
    </div>

    <p>
      <%= form.submit 'Agregar atributo', class: 'btn btn-outline-success' %>
    </p>
  <% end %>
<%end%>