<h1>Listado de tipos de pedidos</h1>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th class="fit"></th>
  </tr>
  </thead>
  <tbody>
  <% @order_types.each do |order_type| %>
    <tr class="align-items-center<%= ' table-disabled' if order_type.is_disabled %>">
      <td><%= order_type.name_type_order %></td>
      <td><%= order_type.description_type_order %></td>
      <td class="fit">
        <div class='btn-group'>
          <%= link_to 'Mostrar', order_type_path(order_type), class: 'btn btn-outline-info' %>
          <%= link_to 'Editar', edit_order_type_path(order_type), class: 'btn btn-outline-primary' %>
          <%= link_to 'Eliminar', order_type_path(order_type),
                      class: 'btn btn-outline-danger',
                      method: :delete,
                      data: { confirm: '¿Seguro que desea eliminar?' } if order_type.is_disabled.nil? %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Agregar tipo de pedido', new_order_type_path, class: 'btn btn-outline-primary btn-block' %>