<h1>ABM Estados de Proyecto</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <% @project_statuses.each do |project_status| %>
      <tr class="align-items-center<%= ' table-disabled' if project_status.is_disabled %>">
        <td><%= project_status.name %></td>
        <td><%= project_status.description %></td>
        <td class="fit">
          <div class='btn-group'>
            <%= link_to 'Mostrar', project_status_path(project_status), class: 'btn btn-outline-info' %>
            <% unless project_status.is_disabled %>
              <%= link_to 'Editar', edit_project_status_path(project_status), class: 'btn btn-outline-primary' %>
              <%= link_to 'Eliminar', project_status_path(project_status),
                          class: 'btn btn-outline-danger',
                          method: :delete,
                          data: { confirm: '¿Seguro que desea eliminar?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Agregar Estado de Proyecto', new_project_status_path, class: 'btn btn-outline-primary btn-block' %>