<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<h1>Administrar backup</h1>
<table>
  <tr>
    <td>Realizar backup</td>
    <td><%= link_to 'Iniciar', make_backup_path, class: 'btn btn-outline-info' %></td>
  </tr>
</table>
<h2>Listado de backups por fecha</h2>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <td>Fecha</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <%(0...@files.length).each do |i| %>
    <tr>
      <td><%=@dates[i] %></td>
      <td><%= form_with(scope: :user, url: recover_backup_path, local: true) do |form| %>
          <%= form.hidden_field :file, value: @files[i] %>
          <%= form.submit 'Recuperar', class: 'btn btn-outline-danger' %>
        <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>