<%= form_with model: @funds_resolution, local: true do |f| %>

  Params:
  <%= render plain: params.inspect %>

  <% if @funds_resolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funds_resolution.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @funds_resolution.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :number, 'Número:', class: 'col col-form-label' %>
    <div class="col-10">
      <%= f.text_field :number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :date, 'Fecha:', class: 'col col-form-label' %>
    <div class="col-10 form-inline">
      <%= f.date_select(:date,
                        options = { order: [:day, :month, :year] },
                        html_options = { class: 'form-control col-auto' }
          ) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :resolution_type, 'Tipo:', class: 'col col-form-label' %>
    <div class="col-10">
      <%= f.collection_select :resolution_type_id,
                              ResolutionType.enabled,
                              :id,
                              :name,
                              {},
                              class: 'form-control' %>
    </div>
  </div>

  <p class="text-right">
    <%= link_to "Cancelar", funds_resolutions_path, class: 'btn btn-outline-secondary' %>
    <%= f.submit 'Siguiente', class: 'btn btn-success' %>
  </p>

<% end %>