<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Destino
      </th>
      <% Subsection.enabled.each do |subsection| %>
        <th>
          Inciso <%= subsection.name %>
        </th>
      <% end %>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
  <%# luis lo hizo %>
  <% if @funds_resolution.funds_destinations.empty? %>
    <tr>
      <td colspan="<%= 2 + Subsection.enabled.length %>">
        <i>No hay atributos creados</i>
      </td>
    </tr>
  <% else %>
    <% @funds_destinations.each_with_index do |funds_destination, fd_index| %>
      <tr class="align-items-center">
        <td><%= funds_destination[:data].name %></td>
        <% funds_destination[:project_funds_details].each do |pfd_key, pfd_value| %>
          <td><%= pfd_value %></td>
        <% end %>
        <td class="fit">
          <div class="btn-group">
            <div onclick="showProjects(<%= fd_index %>)" class="btn btn-outline-primary" style="cursor: pointer;">Proyectos</div>
          </div>
        </td>
      </tr>
      <tr id="projects-<%= fd_index %>" class="funds-destinations-projects">
        <td colspan="<%= 2 + Subsection.enabled.length %>">
          <%= funds_destination[:projects].map {|p| p.project_code}.join(', ') %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="row">
  <%= link_to 'Agregar destino',
              new_funds_resolution_funds_destination_path(@funds_resolution),
              class: 'btn btn-outline-primary btn-block'%>
</div>

<script type="text/javascript">
  function showProjects(id) {
    document.getElementById(`projects-${id}`).classList.toggle('funds-destinations-projects');
  }
</script>