<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<h1>Ajustar preventivo</h1>
<p>Código proyecto: <%=@order_detail.order.project.project_code %></p>
<p>Nombre proyecto: <%=@order_detail.order.project.project_name %></p>
<p>Motivo del pedido: <%=@order_detail.order.reason_order %></p>
<p>Descripción del pedido: <%=@order_detail.order.description_order %></p>
<p>Valor actual del detalle: <%=@order_detail.last_value.amount %></p>

<%= form_with scope: :value_history, url: order_order_detail_adjust_preventive_path(@order_detail.order, @order_detail), method: "post", local: true do |form| %>

  <div class="form-group row">
    <%= form.label :amount, 'Nuevo valor:', class: 'col col-form-label' %>
    <div class="col-10">
      <%= form.number_field :amount, step:0.01, min: 0.0, class: 'form-control' %>
    </div>
  </div>

  <p class="text-right">
    <%= link_to "Rechazar el pedido", order_order_detail_refused_preventive_path(@order_detail.order, @order_detail), method: 'post', data: { confirm: '¿Seguro que desea cancelar?'}, class: 'btn btn-outline-secondary' %>
    <%= form.submit 'Guardar', class: 'btn btn-success' %>
  </p>
<% end %>