<h1>Inciso</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', subsections_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @subsection.is_disabled %>
  <div class="col text-right">
    <%if can_action?('Administrar Inciso', 'Eliminar inciso') %>
      <%= link_to 'Eliminar', subsection_path(@subsection),
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: '¿Seguro que desea eliminar?' } %>
    <% end %>
    <%if can_action?('Administrar Inciso', 'Editar inciso') %>
      <%= link_to 'Editar', edit_subsection_path(@subsection), class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
  <% end %>
</div>