<h1>Tipos de Proyecto</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', project_types_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @project_type.is_disabled %>
  <div class="col text-right">
    <%= link_to 'Eliminar', project_type_path(@project_type),
                class: 'btn btn-outline-danger',
                method: :delete,
                data: { confirm: '¿Seguro que desea eliminar?' } %>
    <%= link_to 'Editar', edit_project_type_path(@project_type), class: 'btn btn-outline-primary' %>
  </div>
  <% end %>
</div>