<div class="container">
<% flash.each do |key, message| %>
  <div class="text-center alert alert-<%= key %>" role="alert">
    <%= message %>
  </div>
<% end %>
</div>

<% if @status == 1 %>
  <div class="container">
    <div class="col-12">
      <%= form_for @user, url: {action: "reset"} do |f| %>
        <%= hidden_field_tag :id, @user.id %>
        <div class="form-group row">
          <%= f.label :user_name, 'Usuario:', class: 'col-md-4 col-form-label' %>
          <%= f.text_field :user_name, class: 'col form-control', disabled: true %>
        </div>
        <div id="password" class="form-group row">
          <%= f.label :password, 'Nueva contraseña:', class: 'col-md-4 col-form-label' %>
          <%= f.password_field :password, class: 'col form-control', placeholder: 'Nueva contraseña'%>
        </div>
        <div id="password_confirmation" class="form-group row">
          <%= f.label :password_confirmation, 'Confirmar contraseña:', class: 'col-md-4 col-form-label' %>
          <%= f.password_field :password_confirmation, class: 'col form-control', placeholder: 'Confirmar contraseña' %>
        </div>
        <%= f.submit "Cambiar contraseña", class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
<% end %>
