<h1>Cambio de contraseña</h1>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<%= form_with scope: :user, url:change_password_path, method: "post", local: true do |form| %>
  <table class="table table-hover">
    <tr>
      <td><%= form.label :current_password, 'Contraseña actual:', class: 'col col-form-label' %></td>
      <td><%= form.password_field :current_password, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= form.label :password, 'Nueva contraseña:', class: 'col col-form-label' %></td>
      <td><%= form.password_field :password, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= form.label :password_confirmation, 'Confirmar contraseña:', class: 'col col-form-label' %></td>
      <td><%= form.password_field :password_confirmation, class: 'form-control' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to "Cancelar", :back, class: 'btn btn-outline-secondary' %>
        <%= form.submit 'Cambiar contraseña', class: 'btn btn-success' %></td>
    </tr>
  </table>
<%end %>