<h1>Administrar Usuarios</h1>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Legajo</th>
      <th>Nombre de Usuario</th>
      <th>Nombre Completo</th>
      <th>Perfil de Usuario</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="align-items-center<%= ' table-disabled' if user.is_disabled %>">
        <td><%= user.file_number %></td>
        <td><%= user.user_name %></td>
        <td><%= user.full_name %></td>
        <td><%= user.user_profile.name %></td>
        <td class="fit">
          <div class='btn-group'>
            <%= link_to 'Mostrar', user_path(user), class: 'btn btn-outline-info' %>
            <% unless user.is_disabled %>
              <%if can_action?('Administrar usuarios', 'Editar usuario')%>
                <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-outline-primary' %>
              <%end%>
              <%if can_action?('Administrar usuarios', 'Eliminar usuario')%>
                <%= link_to 'Eliminar', user_path(user),
                            class: 'btn btn-outline-danger',
                            method: :delete,
                            data: { confirm: '¿Seguro que desea eliminar?' } %>
              <% end %>
              <%end%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if can_action?('Administrar usuarios', 'Agregar usuario')%>
  <%= link_to 'Agregar Usuario', new_user_path, class: 'btn btn-outline-primary btn-block' %>
<%end%>