<h1>Administrar Usuario</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', users_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @user.is_disabled %>
    <%if can_action?('Administrar usuarios', 'Eliminar usuario')%>
      <div class="col text-right">
        <%= link_to 'Eliminar', user_path(@user),
                    class: 'btn btn-outline-danger',
                    method: :delete,
                    data: { confirm: '¿Seguro que desea eliminar?' } %>
    <% end %>
    <%if can_action?('Administrar usuarios', 'Editar usuario')%>
      <%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
  <% end %>
</div>