<h1>Welcome#index</h1>
<ul>
  <li><%= link_to 'ABM Tipo de Pedido', order_types_path %> ARREGLAR</li>
  <li><%= link_to 'ABM Estado de Proyecto', project_statuses_path %></li>
  <li><%= link_to 'ABM Tipo de Proyecto', project_types_path %></li>
  <li><%= link_to 'ABM Cargo Universitario', university_positions_path %></li>
  <li><%= link_to 'ABM Perfil de Usuario', user_profiles_path %></li>
  <li><%= link_to 'ABM Inciso', subsections_path %></li>
  <li><%= link_to 'ABM Estado de Cambio de Inciso', subsection_shift_statuses_path %></li>
  <li><%= link_to 'ABM Estado de Valor', value_statuses_path %></li>
  <li><%= link_to 'ABM Tipo de Resolución', resolution_types_path %></li>
</ul>
