<%# TODO: dividir en partials %>

<h1>Solicitar Cambio de Inciso</h1>

<h3>Proyecto:</h3>
<%= render 'projects/mini_model' %>

<hr/>

<%# mostrar tabla con montos actuales %>
<h3>Créditos:</h3>
<%= render 'projects/amounts_table' %>

<hr/>

<h3>Solicitud:</h3>
<%= form_with model: @subsection_shift, url: project_subsection_shifts_path, local: true do |form| %>

  <div class="form-group row">
  <%= form.fields_for :project_funds_details do |pfd| %>
      <div class="col">
        <%= pfd.label :funds_amount,
                      "Monto Inciso #{pfd.object.subsection.name}:",
                      class: 'row-auto' %>
        <div class="row-auto">
          <%= pfd.text_field :funds_amount, value: 0, class: 'form-control' %>
        </div>
        <%= pfd.hidden_field :year %>
        <%= pfd.hidden_field :subsection_id %>
        <%= pfd.hidden_field :project_id %>
      </div>
  <% end %>
  </div>

  <div class="form-group row">
    <%= form.label :requested_cause, 'Motivo:', class: 'col col-form-label' %>
    <div class="col-10">
      <%= form.text_area :requested_cause, class: 'form-control' %>
    </div>
  </div>

  <p class="text-right">
    <%= link_to "Cancelar", :back, class: 'btn btn-outline-secondary' %>
    <%= form.submit 'Guardar', class: 'btn btn-success' %>
  </p>
<% end %>