<p>Código proyecto: <%=@project.project_code %></p>
<p>Nombre proyecto: <%=@project.project_name %></p>
<p>Descripción del proyecto: <%=@project.project_description %></p>

<%= form_with model: @order_type, local: true do |form| %>
  <div class="col-10">
    <%= form.collection_select :order_type_id, @order_types, :id, :name_type_order, {}, class: 'form-control' %>
  </div>
  <p class="text-right">
    <%= link_to "Cancelar", :back, class: 'btn btn-outline-secondary' %>
    <%= form.submit 'Guardar', class: 'btn btn-success' %>
  </p>
<% end %>