<p>Atributos del pedido</p>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<%= form_with model: @order, url:project_orders_path, local: true do |form| %>
  <table>
    <tr>
      <td width="25%">
        <%= form.label :description_order, 'Descripción:', class: 'col col-form-label' %>
      </td>
      <td>
          <%= form.text_field :description_order, class: 'form-control' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :reason_order, 'Motivo:', class: 'col col-form-label' %>
      </td>
      <td>
          <%= form.text_field :reason_order, class: 'form-control' %>
      </td>
    </tr>
    <%= form.hidden_field :order_type_id, value: @order_type.id %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%@order_type.order_type_attributes.each do |attribute| %>
      <tr>
        <td>
          <%= form.label :attribute_type, attribute.attribute_name, class: 'col col-form-label' %>
        </td>
        <td>
          <%if attribute.is_disabled.nil? %>
            <%if attribute.attribute_type == "Date" %>
              <%= form.date_field(:attribute_names, multiple: true, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "Integer" %>
              <%= form.number_field(:attribute_names, multiple: true, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "Float" %>
              <%= form.number_field(:attribute_names, multiple: true, step: 0.5, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "String" %>
              <%= form.text_field :attribute_names, value:"", multiple: true, class: 'form-control' %>
            <% end %>
            <%if attribute.attribute_type == "Boolean" %>
              <%= form.radio_button :attribute_names, "True", multiple: true %>
              <%= form.label :age_child, "Si" %>
              <%= form.radio_button :attribute_names, "False", multiple: true%>
              <%= form.label :age_adult, "No"%>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <table>
    <tr>
      <%@order_type.order_detail_attributes.each do |attribute| %>
        <%if attribute.is_disabled.nil? %>
          <td>
            <%= form.label :attribute_detail_type, attribute.attribute_name, class: 'col col-form-label' %>
          </td>
        <% end %>
      <% end %>
      <td>
        <%= form.label :description_detail, "Descripción", class: 'col col-form-label' %>
      </td>
      <td>
        <%= form.label :attribute_detail_type, "Inciso", class: 'col col-form-label' %>
      </td>
      <td>
        <%= form.label :attribute_detail_type, "Valor", class: 'col col-form-label' %>
      </td>
    </tr>

    <%= form.nested_fields_for :order_details, wrapper_tag: :tr do |detail| %>
      <%@order_type.order_detail_attributes.each do |attribute| %>
        <%if attribute.is_disabled.nil? %>
          <td>
            <%if attribute.attribute_type == "Date" %>
              <%= detail.date_field(:attribute_names, multiple: true, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "Integer" %>
              <%= detail.number_field(:attribute_names, multiple: true, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "Float" %>
              <%= detail.number_field(:attribute_names, multiple: true, step: 0.1, class: 'form-control') %>
            <% end %>
            <%if attribute.attribute_type == "String" %>
              <%= detail.text_field :attribute_names, value:"", multiple: true, class: 'form-control' %>
            <% end %>
            <%if attribute.attribute_type == "Boolean" %>
              <%= detail.radio_button :attribute_names, "True", multiple: true %>
              <%= detail.label :age_child, "Si" %>
              <%= detail.radio_button :attribute_names, "False", multiple: true%>
              <%= detail.label :age_adult, "No"%>
            <% end %>
          </td>
        <% end %>
      <% end %>
      <td>
        <%= detail.text_field :description_detail, class: 'form-control' %>
      </td>
      <td>
        <%= detail.collection_select :subsection_id, @subsections, :id, :name, {}, class: 'form-control' %>
      </td>
      <td>
        <%= detail.number_field(:attribute_names, multiple: true, step: 0.1, class: 'form-control') %>
      </td>
      <td>
        <input type="button" value="Eliminar" onClick="eliminar(this)", class="btn btn-primary">
      </td>
    <% end %>


    <tr>
      <p class="text-right">
        <%= link_to "Cancelar", :back, class: 'btn btn-outline-secondary' %>
        <%= form.submit 'Guardar', class: 'btn btn-success' %>
      </p>
    </tr>
    <tr>
      <%= form.add_nested_fields_link :order_details, 'Agregar un nuevo detalle', class: 'btn btn-primary' %>
    </tr>
<% end %>
</table>
<script>
    function eliminar(a){
        a.parentNode.parentNode.remove();
    }
</script>