<h1>Datos del pedido</h1>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <td>Fecha</td>
    <td>Descripción</td>
    <td>Motivo</td>
    <%@order.order_type_attribute_values.each do |attribute| %>
    <td><%=attribute.order_type_attribute.attribute_name %></td>
    <% end %>
    <td>Estado</td>
  </tr>
  </thead>
  <tbody>
  <td><%=@order.order_date %></td>
  <td><%=@order.description_order %></td>
  <td><%=@order.reason_order %></td>
  <%@order.order_type_attribute_values.each do |attribute_value| %>
    <td><%=attribute_value.value %></td>
  <% end %>
  <td><%=@order.order_status.order_status_name %></td>
  </tbody>
</table>
<h1>Detalles del pedido</h1>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <%@order.order_details[0].order_detail_attribute_values.each do |attribute_detail| %>
        <td><%=attribute_detail.order_detail_attribute.attribute_name%></td>
    <% end %>
    <td>Descripción</td>
    <td>Inciso</td>
    <td>Valor</td>
    <%if current_user.user_profile.name == 'DEF_Admin' && @order.order_status.order_status_name == 'Armado y aprobación de preventivo' %>
      <td>Ajustar preventivo</td>
    <%end %>
  </tr>
  </thead>
  <tbody>
  <%@order.order_details.each do |detail| %>
    <tr>
    <%detail.order_detail_attribute_values.each do |attribute_detail| %>
      <td><%=attribute_detail.value%></td>
    <% end %>
      <td><%=detail.description_detail %></td>
      <td><%=detail.subsection.name %></td>
      <td><%=detail.last_value.amount %></td>
      <%if (current_user.user_profile.name == 'DEF_Admin' || current_user.user_profile.name =='Super_Admin') && @order.order_status.order_status_name == 'Armado y aprobación de preventivo' %>
        <td><%= link_to 'Ajustar preventivo', order_order_detail_show_path(@order, detail), method: "get", class: 'btn btn-outline-info'%></td>
      <%end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%if current_user.user_profile.name == 'Investigador' %>
  <h1>Estados por los que ha pasado el pedido</h1>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <td>Nombre estado</td>
      <td>Fecha de cambio de estado</td>
      <td>Motivo cambio de estado</td>
    </tr>
    </thead>
    <tbody>
    <%@order.order_status_histories.each do |osh| %>
      <tr>
        <td><%=osh.order_status.order_status_name %></td>
        <td><%=osh.date_change_status_order %></td>
        <td><%=osh.reason_change_status_order %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%end %>
<%= link_to "Volver", orders_path, class: 'btn btn-outline-secondary' %>
<%unless current_user.user_profile.name == 'Investigador' || @order.order_status.order_status_name == 'Pedido retirado' || @order.order_status.order_status_name == 'Pedido rechazado'|| @order.order_status.order_status_name == 'Pedido cancelado'%>
  <%= link_to 'Aprobar', order_path, method: "put", class: 'btn btn-info', data: { confirm: '¿Seguro que desea aprobar?' }%>
<%end %>
<%if (current_user.user_profile.name == 'DEF_Admin' || current_user.user_profile.name == 'Super_Admin') && @order.order_status.order_status_name == 'Armado y aprobación de preventivo'%>
  <%= link_to 'Iniciar licitación', order_start_tender_path(@order), method: "post", class: 'btn btn-info', data: { confirm: '¿Seguro que desea iniciar licitación?' } %>
<%end%>
<%if  current_user.user_profile.name == 'Investigador' %>
  <%= link_to 'Cancelar pedido', order_cancel_order_path(@order), method: "post", data: { confirm: '¿Seguro que desea cancelar?'}, class: 'btn btn-outline-info' if @order.order_status.allow_cancel_order == true %>
  <%= link_to 'Cancelar pedido', order_cancel_order_path(@order), method: "post", data: { confirm: '¿Seguro que desea cancelar?'}, class: 'btn btn-outline-info disabled' if @order.order_status.allow_cancel_order == false %>
<%else %>
  <%unless  @order.order_status.order_status_name == 'Devengado realizado' || @order.order_status.order_status_name == 'Pedido recibido' || @order.order_status.order_status_name == 'Pedido retirado' || @order.order_status.order_status_name == 'Pedido rechazado' || @order.order_status.order_status_name == 'Pedido cancelado'%>
    <%= form_with(model: [ @order, @order.order_status_histories.build ], url: order_refuse_order_path(@order), local: true) do |form| %>
      <div class="form-group row">
        <%= form.label :reason_change_status_order, 'Motivo del rechazo:', class: 'col col-form-label' %>
        <div class="col-10">
          <%= form.text_area :reason_change_status_order, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-10">
          <%= form.submit 'Rechazar', data: { confirm: '¿Seguro que desea rechazar?'}, class: 'btn btn-outline-danger' %>
         </div>
      </div>
    <% end %>
  <% end %>
<%end%>