<h1>Alta Perfil de Usuario</h1>

<%= form_with scope: :user_profile, url: user_profiles_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <h2>Permisos:</h2>

  <p>Listar permisos y seleccionar</p>

  <p>
    <%= form.collection_check_boxes :access_permits, AccessPermit.all, :id, :use_case_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>