<h1>Perfiles de Usuario</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', user_profiles_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @user_profile.is_disabled %>
  <div class="col text-right">
    <%= link_to 'Eliminar', user_profile_path(@user_profile),
                class: 'btn btn-outline-danger',
                method: :delete,
                data: { confirm: '¿Seguro que desea eliminar?' } %>
    <%= link_to 'Editar', edit_user_profile_path(@user_profile), class: 'btn btn-outline-primary' %>
  </div>
  <% end %>
</div>