<h1>ABM Proyectos</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <%if current_user.user_profile.name != "Investigador" %>
        <th>Director</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Tipo</th>
        <th>Estado</th>
      <% end %>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr class="align-items-center<%= ' table-disabled' if project.disabled? %>">
      <td><%= project.project_code %></td>
      <td><%= project.project_name %></td>
      <%if current_user.user_profile.name != "Investigador" %>
        <td><%= project.director.full_name %></td>
        <td><%= project.start_date %></td>
        <td><%= project.ending_date %></td>
        <td><%= project.project_type.name %></td>
        <td><%= project.project_status.name %></td>
      <% end %>
      <td class="fit">
        <div class='btn-group'>
          <%= link_to 'Mostrar', project_path(project), class: 'btn btn-outline-info' %>
          <%if current_user.user_profile.name != "Investigador" %>
            <%= link_to 'Editar', edit_project_path(project), class: 'btn btn-outline-primary' %>
            <% unless project.project_status.name == 'Cancelado' %>
              <%= link_to 'Cancelar',
                          project_path(project),
                          class: 'btn btn-outline-danger',
                          method: :delete,
                          data: { confirm: '¿Seguro que desea cancelar el proyecto?' }
              %>
            <% end %>
          <% end %>
          <%= link_to 'Cambio de Inciso', project_subsection_shifts_path(project), class: 'btn btn-outline-info' unless project.disabled? %>
          <%if current_user.user_profile.name == "Investigador" && !project.disabled? %>
            <%= link_to 'Realizar pedido', new_project_order_path(project), class: 'btn btn-outline-info' %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%if current_user.user_profile.name == "SeCYT_Admin" || current_user.user_profile.name =='Super_Admin' %>
  <%= link_to 'Agregar Proyecto', new_project_path, class: 'btn btn-outline-primary btn-block' %>
<%end %>