<h1>Proyecto</h1>

<%= render 'mini_model' %>

<hr/>

<h3>Fondos:</h3>
<%= render 'amounts_table' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', projects_path, class: 'btn btn-outline-secondary' %>
  </div>
  <div class="col text-right">
    <% unless @project.project_status.name == 'Cancelado' %>
      <%= link_to 'Cancelar proyecto',
                  project_path(@project),
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: '¿Seguro que desea cancelar el proyecto?' }
      %>
    <% end %>
    <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-outline-primary' %>
  </div>
</div>