<h1>Proyecto</h1>

<div class="row">
  <label for="select_year" class="col-3 col-form-label">Seleccionar año de consulta: </label>
  <select id="select_year" class="col-2 form-control">
    <option value="" selected disabled></option>
    <% @years.each do |year| %>
      <option value=<%=year%> ><%=year%></option>
    <% end %>
  </select>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#select_year").change(function() {
            let selectedYear = $(this).val();
            window.location = window.location.href.split('?')[0] + `?year=${selectedYear}`;
        });

        let urlParams = new URLSearchParams(window.location.search);
        let year = urlParams.get('year');

        $("#select_year > option").each(function() {
            if (this.value == year) {
                this.selected = 'selected';
            }
        });
    });
</script>

<br/>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'mini_model' %>

<hr/>

<h3>Fondos:</h3>
<%= render 'amounts_table' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', projects_path, class: 'btn btn-outline-secondary' %>
  </div>
  <div class="col text-right">
    <% unless @project.project_status.name == 'Cancelado' %>
      <%= link_to 'Cancelar proyecto',
                  project_path(@project),
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: '¿Seguro que desea cancelar el proyecto?' }
      %>
    <% end %>
    <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-outline-primary' %>
  </div>
</div>