<h1>Cargos Universitarios</h1>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= render 'model' %>

<div class="row">
  <div class="col text-left">
    <%= link_to 'Volver al índice', university_positions_path, class: 'btn btn-outline-secondary' %>
  </div>
  <% unless @university_position.is_disabled %>
  <div class="col text-right">
    <%if can_action?('Administrar Cargo Universitario', 'Eliminar cargo universitario') %>
      <%= link_to 'Eliminar', university_position_path(@university_position),
                  class: 'btn btn-outline-danger',
                  method: :delete,
                  data: { confirm: '¿Seguro que desea eliminar?' } %>
    <%end%>
    <%if can_action?('Administrar Cargo Universitario', 'Editar cargo universitario') %>
      <%= link_to 'Editar', edit_university_position_path(@university_position), class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
  <% end %>
</div>