<%= form_with model: @funds_destination,
              url: [@funds_resolution, @funds_destination],
              local: true do |f| %>

  <%# errors %>
  <% if @funds_destination.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(@funds_destination.errors.count, "error") %> prohibited this funds destination from being saved:</h5>

      <ul>
        <% @funds_destination.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, "Nombre del destino:", class: 'col col-form-label' %>
    <div class="col-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <% @subsection_funds_details.each.with_index do |sfd, index| %>
      <div class="col">
        <%= label_tag "funds_destination_subsection_funds_details_attributes_#{index}_funds_amount",
                      "Monto Inciso #{sfd.subsection.name}:",
                      class: 'row-auto' %>
        <div class="row-auto">
          <%= text_field_tag "funds_destination_subsection_funds_details_attributes_#{index}_funds_amount",
                             sfd.funds_amount,
                             name: "funds_destination[subsection_funds_details_attributes][#{index}][funds_amount]",
                             class: 'form-control' %>
        </div>
        <%= hidden_field_tag "funds_destination_subsection_funds_details_attributes_#{index}_subsection_id",
                             sfd.subsection.id,
                             name: "funds_destination[subsection_funds_details_attributes][#{index}][subsection_id]" %>
      </div>
    <% end %>
  </div>

  <h5>Proyectos:</h5>
  <%= f.collection_select :project_id,
                          Project.actual_year.enabled,
                          :id,
                          :project_name,
                          {},
                          multiple: true,
                          class: 'form-control' %>

  <p class="text-right">
    <%= link_to "Cancelar", funds_resolution_path(@funds_resolution), class: 'btn btn-outline-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </p>

<% end %>