<h1>Generar reportes</h1>
<table>
  <tr>
    <td>
      <label for="select_report">Seleccionar tipo de reporte</label>
    </td>
    <td>
      <select id="select_report" class ="form-control">
        <option></option>
        <option value=order_type>Tipo de pedido</option>
        <option value=change_status>Cambios de estado</option>
      </select>
    </td>
  </tr>
</table>
<div id="order_type" class="content" style="display: none">
  <%=render_report 'orders_type' do |report|%>
    <%=report.form do |f|%>
      <div class="pull-right">
        <%= f.date_range :order_date%>
      </div>
    <%end%>
  <%end%>
</div>

<div id="change_status" class="content" style="display: none">
  <%=render_report 'order_status' do |report|%>
    <%=report.form do |f|%>
      <div class="pull-right">
        <%= f.date_range :date_change_status_order%>
      </div>
    <%end%>
  <%end%>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".content").hide();
        $("#select_report").change(function(){
            $(".content").hide();
            $("#" + $(this).val()).show();
        });
    });
</script>