<h1>ABM Estado de Valor</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <% @value_statuses.each do |value_status| %>
      <tr class="align-items-center<%= ' table-disabled' if value_status.is_disabled %>">
        <td><%= value_status.value_status_name %></td>
        <td class="fit">
          <div class='btn-group'>
            <%= link_to 'Mostrar', value_status_path(value_status), class: 'btn btn-outline-info' %>
            <% unless value_status.is_disabled %>
              <%= link_to 'Editar', edit_value_status_path(value_status), class: 'btn btn-outline-primary' %>
              <%= link_to 'Eliminar', value_status_path(value_status),
                          class: 'btn btn-outline-danger',
                          method: :delete,
                          data: { confirm: '¿Seguro que desea eliminar?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Agregar Estado de Valor', new_value_status_path, class: 'btn btn-outline-primary btn-block' %>