<nav id="sidebar" class="bg-light">
  <ul class="list-unstyled components">
    <li>
      <%= link_to 'CU 02: Administrar Usuarios', users_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 05: ABM Perfil de Usuario', user_profiles_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 06: ABM Cargo Universitario', university_positions_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 07: ABM Proyecto', projects_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 08: ABM Estado de Proyecto', project_statuses_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 09: ABM Tipo de Proyecto', project_types_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 10: Administrar Resoluciones', funds_resolutions_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 11: ABM Tipo de Resolución', resolution_types_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 13: Parametrizar Tipo de Pedido', order_types_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 18: ABM Inciso', subsections_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 19: ABM Estado de Cambio de Inciso', subsection_shift_statuses_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 29: ABM Estado del Pedido', order_statuses_path, class: 'nav-link' %>
    </li>
    <li>
      <%= link_to 'CU 30: ABM Estado de Valor', value_statuses_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>

<script type="text/javascript">
    $( document ).ready(function() {
        let toggled_sidebar = JSON.parse( localStorage.getItem("toggled_sidebar") ) || false;
        let sidebar_toggler = $("#sidebar-toggler");
        let sidebar = $("#sidebar");

        if (toggled_sidebar) {
            sidebar.addClass("no-transitions");
            sidebar.addClass("toggled");
            sidebar_toggler.addClass("no-transitions");
            sidebar_toggler.addClass("toggled");
        }

        sidebar_toggler.on('click', function () {
            sidebar.removeClass("no-transitions");
            sidebar.toggleClass('toggled');
            $(this).removeClass("no-transitions");
            $(this).toggleClass('toggled');
            toggled_sidebar = !toggled_sidebar;
            localStorage.setItem("toggled_sidebar", toggled_sidebar);
        });
    });
</script>