<!DOCTYPE html>
<html>
  <head>
    <title>SePID</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="d-flex flex-fill overflow-auto">
      <%= render 'layouts/sidebar' %>
      <div class="wrapper">
        <button type="button" id="sidebar-toggler" class="btn btn-secondary">
          <span class="fa fa-chevron-left"></span>
        </button>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
